---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
  <div class="w-full h-[500px] items-center flex justify-center">
    <div class="text-center flex flex-col items-center">
      <h1 class="text-8xl text-brand font-bold">Error 404</h1>
      <h2>
        <span class="text-brand">Oops..</span> page yang anda cari tidak ditemukan
      </h2>
      <a class="w-fit mt-5 underline text-red-700" href="/">Kembali ke beranda</a>
    </div>
  </div>
</MainLayout>
