---
const {images} = Astro.props
---

<div class="columns-1 md:columns-2 lg:columns-3 md:space-x-2.5 space-y-5">
    {
      images?.map((e) => {
        return (
          <div class="relative rounded-xl overflow-hidden text-white">
            <div class="w-full relative z-10">
              <img src={e.image} class="w-full rounded-xl" alt={e.alt} />
            </div>
          </div>
        );
      })
    }
  </div>