<nav class="py-7 px-5 md:px-24 w-full h-16 flex items-center justify-between border-b">
    <div class="">
        <img src="/logo.png" class="w-8" alt="">
    </div>

    <div class="flex gap-7">
        <a href="/#beranda" class="hover:underline text-red-500 font-semibold">
            Beranda
        </a>
        <a href="/#prestasi" class="hover:underline text-red-500 font-semibold">
            Prestasi
        </a>
        <a href="/gallery" class="hover:underline text-red-500 font-semibold">
            Gallery
        </a>
    </div>
</nav>