---
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";

interface MainLayoutProps {
  title?: string;
}

const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content="Seta Muda adalah sebuah klub sepakbola yang berasal dari kecamatan
    kretek Bantul yang berdiri pada tahun 1980, sedangkan untuk SSB ny di
    dirikan pada tahun 2004 oleh pak Nono, sempat vakum 1 tahun lalu d
    resmikan kembali pada Desember tahun 2006">
    <title>{title && title + " | "} Seta Muda Football Club</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="min-h-screen">
    <style>
      * {
        font-family: "Poppins", sans-serif;
      }
    </style>
    <Navbar />
    <main class="min-h-screen">
      <slot />
    </main>
    <Footer />
  </body>
</html>
